---
layout: page
title: "Table of Contents"
order: 2
---
<div class="introduction">
  <h1></h1>

<p>
  <em>Nos Cambió la Vida, Our Lives Transformed</em> is a digital edition of short autobiographical narratives written by Dominican writers of Haitian descent that have been translated into English.
</p>
</div>

<hr class="toc-hr">

<div class="toc">
  <div class="intro-pref">
    {% for item in site.texts %}
    <!-- Replace ids below with preface and intro once those pages are created-->
      {% if item.id == "/texts/introduction" or item.id == "/texts/preface" %}
        <div class="toc-entry">
          <h2><a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}
          </a></h2>
          <h2 class="author">{{ item.author }}</h2>    
        </div>     
      {% endif %}
    {% endfor %}
  </div>

  <div class="toc-texts">
    {% assign sorted_texts = site.texts | sort:"order" %}
    {% for item in sorted_texts %}
      {% if item.id != "/texts/intro" and item.id != "/texts/preface" %}
        <div class="toc-entry">
          <h2><a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}
          </a></h2>
          <h2 class="author">{{ item.author }}</h2>    
        </div>
      {% endif %}  
    {% endfor %}
  </div>
</div>

