---
layout: page
title: "Table of Contents"
order: 2
---

<hr id="toc-hr">

<div id="toc">
  <div id="intro-pref">
      <div class="toc-entry"> 
        <h2><a href="{{ site.baseurl }}/texts/preface">
          Preface
        </a></h2>
        <h3 class="author">We Are All Dominican</h3>    
      </div>   
      <div class="toc-entry">
        <h2><a href="{{ site.baseurl }}/texts/introduction">
          Introduction
        </a></h2>
        <h3 class="author">Farah Hallal</h3>    
      </div>   
  </div>

  <div id="toc-texts">
    {% assign sorted_texts = site.texts | sort:"order" %}
    {% for item in sorted_texts %}
      {% if item.id != "/texts/introduction" and item.id != "/texts/preface" %}
        <div class="toc-entry">
          <h2><a href="{{ site.baseurl }}{{ item.url }}">
            {{ item.title }}
          </a></h2>
          <h3 class="author">{{ item.author }}</h3>    
        </div>
      {% endif %}  
    {% endfor %}
  </div>
</div>

