---
sitemap: false
---

/*
  Common Variables
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$masthead-font: 'Oswald';
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545; 
$heading-color: #333333; /*fall-back color for older browsers */
$heading-color: #363636;
$link-color: #3300CC; /*fall-back color for older browsers */
$link-color: #1b06e4;
$accent-color: #3399CC; /*fall-back color for older browsers */
$accent-color: #3A8CE4;


@import "ed";
@import "syntax";
