---
sitemap: false
---

*, p img {     
  page-break-inside: avoid;     
  page-break-after: avoid;     
  page-break-before: avoid;   
}


/*
  Common Variables
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$masthead-font: 'Oswald';
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545; 
$heading-color: #333333; /*fall-back color for older browsers */
$heading-color: #363636;
$link-color: #3300CC; /*fall-back color for older browsers */
$link-color: #1b06e4;
$accent-color: #3399CC; /*fall-back color for older browsers */
$accent-color: #3A8CE4;


@import "ed";
@import "syntax";


/* disable highlighting */
/**.disable-select{
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -ms-user-select:none
}*/

/* NCLV CUSTOMIZATIONS */

/*
  Masthead

  Super small header above the content for site name and short description.
*/

.masthead {
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
  padding-top: 26px;
  padding-bottom: 1rem;
  text-align: center;}

.masthead-title {
  color: $heading-color;
  text-transform: uppercase;
  font-family: $masthead-font;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: .777em;
  margin-top: 2em;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

@media (max-width: 480px) {
  .masthead-title {
    line-height: 1.25em;
  }
}

.masthead-title a {
  color: $heading-color;
}

.masthead-title small {
  color: $text-color;
  font-family: $masthead-font;
  font-weight: 300;
  font-size: .88rem;
  letter-spacing: .05rem;
 /* text-transform: capitalize; */
 }

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header img {
  max-width: 75px;
  margin: 0 1rem;
  display: inline;

}

/* Table of Contents */

div#toc-texts, div#intro-pref {
    display: block;
  } 

div.toc-entry {
  text-align: center;
  border-bottom: 2px solid $accent-color;
  display: flex;
  flex-direction: column;
}

div#toc h2, #toc h2 > a {
  color: $heading-color;
  font-size: 1em;
  margin-bottom: 1.25em;
}

div#toc h3.author {
  font-size: .9em;
  font-style: italic;
  margin-top: auto;
  text-align: center;
}

#toc-texts > div:nth-child(19) {
  
}

@media (min-width: 30em) {
  div#toc-texts {
    margin-bottom: 4rem;
    display: inline-grid;
    grid-template-columns: 9rem 9rem 9rem;
    grid-gap: 4em;
  }

  div#intro-pref {
    width: 100%;
    margin-bottom: 4rem;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 4em;
    justify-content: space-evenly;
  }
}

#toc-hr {
  border: none;
  border-top: 1px solid #eee;
}

@media (min-width: 320px) {
  .masthead-title {
    margin-top: 2px;
    font-size: 1.75rem;
  }

}

@media (min-width: 48em) {
  .masthead-title small {
    display: inline;
  }
}

.page-title {
  text-align: center;
}

.splash { 
 background-image: url('/assets/img/Borrador_v4@2000px.png');
 height: 100%; 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;

 @media (min-width: 120em) {
  background-image: url('/assets/img/Borrador_v4@3840px.png')
 }

}

.splash-title {
  font-family: $masthead-font;
  position: absolute;
  bottom: 9%;
  left: 35%;
  text-align: center;
}

.splash-title a, .splash-title a:hover {
   font-size: 3em;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: bold;
}

.splash-title small {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  letter-spacing: .05rem;
  text-transform: uppercase;
 }

 #splash-button {
  font-family: $masthead-font;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5em 0.75em;
 }

/* Center images in Introduction only */
#main > article.poem > p > img {
  margin: 0 auto;
}

/* Styling bio and bio image */
.bio {
  font-style: italic;
  color: $heading-color;
  font-size: .8em;
}

.bio-img {
  float: left;
  margin-right: 5%;
}

/*.sidebar-toggle {
 display: none; 
}*/